body {
font-family: Arial,Helvetica,sans-serif;
}
div #title p {
color:black;
font-weight: 400;
font-size: 20px;
display: inline-block;
}
div #title {
height: 30px;
}

#view-outer {
display: flex;
flex-direction: column;
}
#flex-container {
display: flex;
}
#category ul {
margin: auto;
color:#0046BE;
font-size: 13px;
text-decoration: none;
line-height: normal;
padding-inline-start: 0;
}
#category li:hover {
color: #001e73;
text-decoration: underline;
}
#category li {
display:flex;
float: left;
}
#category #arrow {
color: #55555a;
text-decoration: none;
font-size: 7px;
margin-bottom: 0px;
height: 0;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
border-left: 4px solid transparent;
border-right: 4px solid transparent;
}
#sku p {
display: inline-block;
border-top: 8px solid transparent;
font-size: 13px;
}
#sku #sku1 {
font-weight:bold;
}
#review ul {
display:flex;
margin: auto;
color:#0046BE;
font-size: 13px;
text-decoration: none;
padding-inline-start: 0;
}
#review li {
display: flex;
float:left;
padding-left: 5px;
padding-right: 5px;
}
#review #rating {
font-weight:bold;
}
#main-image {
padding-top: 80px;
}
#fa-arrow {
font-size: 18px;
font-weight: bold;
}
.reviewContent {
padding-left: 200px;
padding-right: 200px;
}
.username {
float: left;
color: #0457c8;
font-weight: 500;
font-size: 19px;
width: 33.33%;
}
.strongUsername:hover {
color: darkblue;
cursor: pointer;
}
.reviewTitle {
display: flex;
align-self: flex-end;
font-size: 22px;
}
.userContent {
width: 66.666%;
float: right;
padding: 30px;
}
.reviewMain {
padding: 30px;
display: flex;
flex-direction: row;
border-top: 1px solid #c5cbd5;
}
.reviewBody {
display: flex;
flex-wrap: wrap;
}
.verified {
font-size: 17px;
font-weight: 500;
font-style: bold;
}
.reviewDate {
color: #55555a;
}
h4 {
display: flex;
flex-direction: row;
}
.recommendedTrue {
margin: 20px 0px 30px
}
.helpful {
padding: 0 7px;
border: 1px solid #c5cbd5;
font-weight: 400;
margin-bottom: 4px;
margin-right: 12px;
color: #0046be;
font-size: 16px;
height: 40px;
border-radius: 4px;
background-color: #fff;
transition: all .3s ease-out 0s;
}
.helpful:hover {
padding: 0 7px;
border: 1px solid #c5cbd5;
font-weight: 400;
margin-bottom: 4px;
margin-right: 12px;
color: #fff;
font-size: 16px;
height: 40px;
border-radius: 4px;
background-color: #0046be;
transition: all .3s ease-out 0s;
cursor: pointer;
}
.unhelpful {
border: none;
background-color: #fff;
font-size: 16px;
color: #0046be;
border-right: 1px solid lightgray;
}
.unhelpful:hover {
color: black;
text-decoration: underline;
cursor: pointer;
}
.report {
border: none;
background-color: #fff;
font-size: 16px;
color: #0046be;
border-right: 1px solid lightgray;
}
.report:hover {
color: black;
text-decoration: underline;
cursor: pointer;
}
.post {
border: none;
background-color: #fff;
font-size: 16px;
color: #0046be;
}
.post:hover {
color: black;
text-decoration: underline;
cursor: pointer;
}
.grid {
display: grid;
grid-template-columns: auto 40%;
grid-template-rows: auto;
}
.grid .product_display {
padding-top: 25px;
padding-left: 10%;
row-gap: 20px;
grid-column: 1;
grid-row: 2;
}
.grid .price-component {
padding-right: 10%;
padding-left: 10%;
row-gap: 20px;
grid-column: 2;
grid-row: 2;
}
.grid .review-component {
grid-column: 1 / 3;
grid-row: 3;
}
.grid .root {
grid-column: 1 / 3;
grid-row: 1;
}
.footerpos {
    width: auto;
}